h3{
  font-family: Calibri;
  font-size: 25pt;
  font-style: normal;
  font-weight: bold;
  color:pink;
  text-align: center;
  text-decoration: underline
}

table{
  font-family: Calibri;
  color:black;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
  text-align:;
  background-color: pink;
  border-collapse: collapse;
  border: 2px solid pink
}
table.inner{
  border: 0px
}
